h1{
    color: red;
    text-align: center;
    background-color: bisque;
    border: 1px solid black;
}
h2{
    color: chocolate;
    text-align: center;
    border: 2px solid olive;
p{
    color:black;
}